@use "/styles/variables" as v;

.active {
  position: relative;
  scale: 1.1;
  transition: all 0.2s linear;

  @include v.desktopMq {
    &:after {
      content: "";
      position: absolute;
      height: 1px;
      bottom: -1vmin;
      width: 100%;
      border-bottom: 3px solid v.$buttonBorder;
      border-radius: 10px;
      
    }
  }
}
