@use "/styles/variables" as v;

.frontContainer {
  position: relative;
  width: 90%;
  @include v.flexCenter(column);
  gap: 5rem;
  right: 0;

  @include v.tabletMq {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.introTextContainer {
  position: relative;
  padding: 10% 2.5%;
  width: 100%;
  color: v.$text;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid v.$p2;
  transition: all 0.5s linear;
  text-align: start;
  overflow: hidden;
  border-radius: 20px;

  @include v.tabletMq {
    grid-row: 1 / 2;
    width: 140%;
    padding: 10% 5%;
    font-size: 22px;
  }
}

.linkContainer {
  align-self: flex-end;
  @include v.flexCenter(column);
  align-items: flex-end;
  position: relative;
  transition: all 0.5s linear;
  width: 60%;

  ul {
    @include v.flexCenter(column);
    align-items: flex-start;
    padding: 15% 5%;
    border: 2px solid v.$p2;
    gap: 5px;
    width: 100%;
    border-radius: 20px;

    li {
      color: v.$text;
      font-size: 26px;
      font-weight: 700;
      text-align: start;
      position: relative;
      padding-left: 5%;
      
      &:hover,
      &:focus {
        transform: scale(1.2);
        color: v.$n1;
      }

      &:before {
        content: '';
        height: 100%;
        width: 30%;
        border-left: 2px solid v.$buttonBorder;
        border-radius: 20px;
        position: absolute;
        left: -2vmin;
      }
    }
  }

  @include v.tabletMq {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 100%;
    align-items: center;
    align-self: center;

    ul {
      width: 100%;
      grid-column: 1 / 3;
      align-items: center;

      li {
        padding-left: 2%;
      }
    }
  }
}
