@use "styles/variables" as v;

.buttonContainer {
  border-style: none;
  border: 2px solid v.$buttonBorder;
  border-radius: 20px;
  @include v.flexCenter(row);
  font-family: "Space Mono";
  font-size: 16px;
  font-weight: 700;
  color: v.$n1;
  background-color: v.$bg;
  box-shadow: v.$shadow;
  transition: all 0.2s linear;
  cursor: pointer;

  &:hover {
    scale: 1.1;
    filter: brightness(0.5);
  }
}
