@use "/styles/variables" as v;

.container {
  @include v.flexCenter(column);
  min-height: 100vh;
  max-width: 1650px;
  position: relative;
  background-color: v.$bg;
  overflow: hidden;

  h1,
  h2 {
    color: v.$text;
  }

  header {
    height: 10vh;
    width: 100%;
  }

  main {
    height: 80vh;
    width: 100%;
  }

  @include v.tabletMq {
    main {
      min-height: 656px;
    }
  }

  @include v.desktopMq {
    width: 80vw;

    main {
      height: 70vh;
    }
  }
}
