@use "/styles/variables" as v;

.container {
  display: none;
  @include v.flexCenter(row);
  justify-content: space-between;
  width: 90%;
  height: 52px;
  border: 2px solid v.$p2;
  margin: 0 auto 0 auto;
  padding: 0 2% 0 2%;
  position: relative;
}

.navMenu {
  @include v.flexCenter(row);
  gap: 1rem;
  height: 100%;
  position: relative;

  li {
    @include v.flexCenter(row);
  }
}

.homeText {
  color: v.$n1;
  font-weight: 700;
  font-size: 16px;
}

.linkIcon {
  @include v.flexCenter(row);
  fill: v.$n1;
  height: 27px;
  width: 27px;
}

.burgerIcon {
  fill: v.$n1;
  height: 27px;
  width: 42px;
}

.collapsedButton {
  border: none;
}
