@use "styles/variables" as c;

.container {
  width: 100%;
  height: 100%;
  position: relative;
  @include c.flexCenter(column);

  @include c.tabletMq {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
