@use "/styles/variables" as v;

.container {
  position: relative;
  width: 90%;
  height: 90%;
  @include v.flexCenter(column);
  gap: 5vmin;

  p {
    width: 100%;
    color: v.$text;
    text-align: start;
    width: 100%;
    word-wrap: break-word;
  }

  a {
    transition: all 0.2s linear;
    text-decoration: underline;
    text-decoration-color: v.$p2;
    &:hover {
      scale: 1.2;
    }
  }

  @include v.tabletMq {
    gap: 2vmin;
  }

  @include v.desktopMq {
    display: grid;
    grid-template-columns: 1fr 1fr;

    a {
      p {
        width: 100%;
        text-align: center;
        align-self: center;
      }
    }
  }
}

.imageContainer {
  width: 100%;
  height: 45%;
  border-radius: 20px;
  position: relative;
  margin-bottom: 3rem;

  @include v.tabletMq {
    width: 70%;
    height: 290px;
    margin-bottom: 1rem;
  }

  @include v.desktopMq {
    grid-column: 1/ 2;
    grid-row: 1 / 5;
    width: 90%;
    height: 95%;
    border-radius: 25px;
    border: 2px solid v.$text;
    margin-bottom: 0;
  }
}

.projectImage {
  object-fit: contain;
  object-position: center;
  border-radius: 25px;

  @include v.tabletMq {
    object-fit: cover;
  }

  @include v.desktopMq {
    object-fit: cover;
  }
}

.ougiImgContainer {
  position: absolute;
  left: -10vw;
  width: 100vw;
  border: 3px solid v.$p2;
  height: 40vh;
  border-radius: 25px;
  box-shadow: v.$shadow,
  0 0 5px 200px rgba(0, 0, 0, 0.3);
  @include v.flexCenter(row);
  z-index: 99;

  @include v.tabletMq {
    left: -8%;
    width: 116%;
  }

  @include v.desktopMq {
    left: 0%;
    height: 60vh;
    width: 100%;
    box-shadow: v.$shadow,
    0 0 5px 1000px rgba(0, 0, 0, 0.3);
  }
}

.ougiImage {
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
  
  width: 100vw;
}
