@use "styles/variables" as v;

.container {
  width: 100%;
  position: relative;
  @include v.flexCenter(column);

  @include v.tabletMq {
    height: 100%
  }
}

.title {
  @extend .aboutTitle;
}

.body {
  @extend .aboutBody;

  p {
    a {
      text-decoration: underline;
    }
  }
}
