@use "styles/variables" as c;

.container {
  width: 100%;
  position: relative;
  @include c.flexCenter(column);

  @include c.tabletMq {
    height: 100%
  }
}

.title {
  @extend .aboutTitle;
}

.body {
  @extend .aboutBody;
}
