@use "styles/variables" as v;

.container {
  width: 100%;
  position: relative;
  @include v.flexCenter(column);

  height: 100%
}

.title {
  @extend .aboutTitle;
}

.body {
  @extend .aboutBody;

  label {
    color: v.$text;
  }
}
