@use "styles/variables" as v;

.container {
  width: 100%;
  position: relative;
  @include v.flexCenter(column);

  @include v.tabletMq {
    height: 100%;
  }
}

.title {
  @extend .aboutTitle;
  width: 50%;

  @include v.tabletMq {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-bottom: 0;
    height: 80px;
  }
}

.body {
  @extend .aboutBody;
  position: relative;

  @include v.tabletMq {
    height: 80%;
    grid-column: 1 / 3;
    grid-row: 2 / 7;
    padding: 2%;
    max-width: 1058px;
  }

  @include v.desktopMq {
    width: 1000px;
  }
}

.backBtn {
  position: absolute;
  left: 6vmin;
  z-index: 99;
  @include v.flexCenter(row);
  border-radius: 50%;
  padding: 1vmin;
  border: 1px solid v.$p2;
  height: 50px;
  width: 50px;
  box-shadow: v.$shadow;
  transform: translateY(20%);
  background-color: rgba(0, 0, 0, 0.5);

  &:hover {
    filter: brightness(1.5);
  }

  @include v.desktopMq {
    left: 3vmin;
  }
}

.buttons {
  @include v.flexCenter(row);
  background: none;
  border: none;

  svg {
    height: 28px;
    width: 28px;
  }
}

.frontBtn {
  @extend .backBtn;
  left: unset;
  right: 6vmin;

  @include v.desktopMq {
    right: 502px;
  }
}
