@use "styles/variables" as v;

.container {
  width: 100%;
  position: relative;
  @include v.flexCenter(column);

  @include v.tabletMq {
    height: 100%;
  }
}

.title {
  @extend .aboutTitle;

  @include v.tabletMq {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.body {
  @extend .aboutBody;

  @include v.tabletMq {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.skillContainer {
  width: 90%;
  @include v.flexCenter(row);
  flex-wrap: wrap;
  gap: 1vmin;
  border-bottom: 1px solid v.$p2;
  margin-bottom: 1vmin;
}

.buttonsContainer {
  width: 80%;
  @include v.flexCenter(row);
  justify-content: space-between;
}
